@charset "UTF-8";
html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size:13px;
}

p, li, ul, h1, h2, h3{
    margin: 0;
    padding: 0;
}

a:link,
a:visited {
	color: #2466a9;
    text-decoration: none;
}
a:hover,
a:active {
    color: #2466a9;
	padding-bottom: 1px;
	border-bottom: 1px solid #2466a9;
}
