a:link {
  text-decoration: none;
  color: #2f73c2;
}

a:visited {
  text-decoration: none;
  color: #2f73c2;
}

a:hover {
  text-decoration: none;
  color: #124b8f;
}

a:active {
  text-decoration: none;
  color: #124b8f;
}

body {    
  font-family: Noto Sans, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: RakutenGlobal-B;
  margin: 0;
  padding-bottom: 24px;
}

section {
  margin-top: 50px;
  padding-left: 9%;
  padding-right: 9%;
}

.color-bar-top {
  width: 100%;
  height: 5px;
  background-color: #bf0000;
}

.color-bar-bottom {
  height: 3em;
  object-fit: contain;

  background-image: url("../images/rakuten-tri-bar.png");
  background-size:100% 100%;
}

.github-button {
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

.github-button a {
  color: #ffffff;
}

.head-body {
  width: 212px;
  height: 40px;
  border-radius: 4px;
  background-color: #bf0000;
  margin: auto;
}

.head-body:hover {
  background-color: #ff1212;
}

.head-body:active {
  text-decoration: none;
  background-color: #960000;
}

.rak-masthead {
  width: 100%;
  height: 401px;
  background-color: #353535;
  padding-bottom: 39px;
}

.title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.intro {
  font-family: RakutenGlobal-R;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
}

.card-header {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #bf0000;
  display: inline-flex;
}

.card-header img {
  padding-top: 10px;
  padding-left: 16px;
  width: 35px;
  height: 35px;
}

.card-header h4{
  padding-top: 16px;
  padding-left: 16px;
  width: 242px;
  height: 21px;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.card-body {
  min-height: 229px;
  background-color: #f1f2f2;
}

.card-body p {
  margin: 0;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.card a {
  font-size: 14px;
}

.card-even {
  width: 100%;
  background-color: #ffffff;
}

.card-even p {
  margin: 0;
  padding-top: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
}

.card-odd {
  width: 100%;
  background-color: #f1f2f2;
}

.card-odd p {
  margin: 0;
  padding-top: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
  background-color: #f1f2f2;
}

.footer-logo {
  object-fit: contain;
  background-image: url("../images/rakuten-logo-footer.svg");
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

.rak-footer {
  background-color: #353535;
  padding-top: 50px;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 50px;
  color: #ffffff;
}

.rak-footer h5 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
}

.rak-footer p {
  margin-top: 0px;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.rak-footer a {
  color: #4b91e3;
}

.footer-links {
  float:none; 
  display: inline-block;
  padding-right: 60px;
}

.fcb-banner:before, .fcb-banner:after {
  content: ' ';
  background-repeat: repeat-x;
  background-size: 100% 100%;
  min-height: 300px;
  width: 50%;
  position: absolute;
  z-index: -1;
}

.fcb-banner:before {
  background-image: url("../images/rak_fcb_logo/fcb_banner_left.jpg");
  left: 0;
}

.fcb-banner:after {
  background-image: url("../images/rak_fcb_logo/fcb_banner_right.jpg");
  right: 0;
}

.rak-partners {
  padding-top: 20px;
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 20px;
  background-color: #ffffff;
}

.rak-partner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.rak-partner-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  width: 1200px;
  justify-content: space-evenly;
  padding-left: 0;
}

.rak-partner-container li {
  padding-top: 20px; 
  padding-bottom: 20px; 
  list-style: none;
  padding-right: 10px;
}

.rak-partner-container a {
  font-size: 14px;
}

@media screen and (max-width: 240px) {
  
  .head-title {
    font-size: 34px;
    font-weight: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .rak-masthead .container {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.81em;
    padding-bottom: 11em;
  }

  .card-set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
  }

  .card {
    background-color: #f1f2f2; 
    width: 272px;
    margin-bottom: 66px;  
    -moz-box-shadow:    0px 0px 20px 6px #ccc;
    -webkit-box-shadow: 0px 0px 20px 6px #ccc;
    box-shadow:         0px 0px 20px 6px #ccc;
  }

  .rak-fcb-logo {
    background-image: url("../images/rak_fcb_logo/rakuten-fcb-logo.svg");
    background-repeat: no-repeat;
    height: 90px;
    width: 195px;
    order: 1;
  }
}

@media screen and (min-width: 240px) and (max-width: 480px) {
  .head-title {
    font-size: 43px;
    font-weight: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .rak-masthead .container {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.81em;
    padding-bottom: 11em;
  }

  .card-set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .card {
    background-color: #f1f2f2; 
    width: 272px;
    margin-right: 20px;
    margin-bottom: 66px;  
    -moz-box-shadow:    0px 0px 20px 6px #ccc;
    -webkit-box-shadow: 0px 0px 20px 6px #ccc;
    box-shadow:         0px 0px 20px 6px #ccc;
  }

  .rak-fcb-logo {
    background-image: url("../images/rak_fcb_logo/rakuten-fcb-logo.svg");
    background-repeat: no-repeat;
    height: 90px;
    width: 195px;
    order: 1;
  }
}

@media screen and (min-width: 480px) and (max-width: 1080px){
  .rak-masthead .container {
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.81em;
    padding-bottom: 11em;
  }

  .head-title {
    font-size: 66px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .card-set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
  }
  
  .card {
    background-color: #f1f2f2;
    margin-right: 20px;
    margin-bottom: 66px;  
    width: 272px;
    -moz-box-shadow:    0px 0px 20px 6px #ccc;
    -webkit-box-shadow: 0px 0px 20px 6px #ccc;
    box-shadow:         0px 0px 20px 6px #ccc;
  
  }

  .rak-fcb-logo {
    background-image: url("../images/rak_fcb_logo/rakuten-fcb-logo.svg");
    background-repeat: no-repeat;
    height: 90px;
    width: 195px;
  }

  .fcb-banner {
    background-image: url("../images/fcb_banner/fcb-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
    min-height: 200px;
    max-height: 300px;
    /* width: 1200px; */
  }
}

@media screen and (min-width: 1080px) {
  .rak-masthead .container {
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.81em;
    padding-bottom: 11em;
  }

  .head-title {
    font-size: 66px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }
  
  .card-set {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
  }

  .card {
    background-color: #f1f2f2;
    margin-right: 60px;
    margin-bottom: 66px;  
    width: 272px;
    -moz-box-shadow:    0px 0px 20px 6px #ccc;
    -webkit-box-shadow: 0px 0px 20px 6px #ccc;
    box-shadow:         0px 0px 20px 6px #ccc;
  }

  .rak-fcb-logo {
    background-image: url("../images/rak_fcb_logo/rakuten-fcb-logo.svg");
    background-repeat: no-repeat;
    height: 90px;
    width: 195px;
  }

  .fcb-banner {
    background-image: url("../images/fcb_banner/fcb-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: auto;
    min-height: 300px;
    width: 1200px;
  }
}