@charset "UTF-8";
#wall {
	background: url(../images/bg-washi.jpg) repeat 50% 0;
}

#logo  {
	overflow: hidden;
	line-height: 42px;
}
#logo img {
	float: left;
}
#logo span {
	margin-top: 10px;
}

.main_content {
	margin: 0px auto;
	width: 747px;
	padding-top: 25px;
}
.title {
	overflow: hidden;
	background: url(../images/title_line.jpg) no-repeat 100% 100%;
	margin-top: 40px;
	padding: 0 5px 5px;
	font-weight: bold;
}
.title h2 {
	display: inline;
	font-size: 30px;
}
.title span {
	float: right;
	margin-bottom: 10px;
	padding-top: 15px;
	font-weight: normal;
	font-size: 13px;
}

.title_lead {
	margin-top: 20px;
	margin-bottom: 20px;
}
.main_content .title_lead p {
	padding: 5px;
}

.main_content .category {
	background: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin: 0px 5px 20px 5px;
}
.category h3  {
	padding-top: 10px;
	margin-bottom: 0px;
	font-size: 18px;
}

.category ul li {
	background: url("../images/list_icon.jpg") no-repeat 0 40%;
	list-style-type: none;
	margin: 10px 15px;
	padding-left: 15px;
}
.category ul {
	margin: 15px;
	list-style-position: inside;
}

#mail_link {
	margin-top: 10px;
	float: right;
}
#head {
	clear: both;
	height: 60px;
	margin: 10px auto;
	width:100%;
}
#head_content {
	clear: both;
	height: 60px;
	margin: 0px auto;
	width:747px;
	background-color: #FFFFFF;
}

#logo {
	float: left;
}

#foot {
	height: 40px;
	background: url(../images/foot_line.png) repeat-x 50% 0;
	margin-top: 80px;
	padding-top: 40px;
	text-align: center;
	color: #FFFFFF;
	font-size: small;
}
#nav {
	width: 100%;
	height: 76px;
	background: url(../images/head_full.png) repeat-x 50% 0;
}
#fix {
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 55px;
}

#fix.fixed {
    position: fixed;
	width: 100%;
	background: #FFFFFF;
    left: 0;
    top: 0;
}
.main_content p {
	padding: 5px 5px 5px 0px;
	line-height: 1.5;
}
